body, html {
    height: 100%;
    background-image: url('../images/park_tower.jpg');
    background-repeat: no-repeat;
    
    background-size: cover;
 
    
}
.g25Heading {
    background-image: linear-gradient(to bottom right, white, lightblue);
    border: 1px solid white;
    border-radius: 15px;
}
.g25View {
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
}
.g25Footer {
    
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
    
    align-content:center;
}

    .bg {
        
    background-image: url('../images/park_tower.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
    .bgwhite {
    background-color: white;
    color: #ffffff;
    }
