@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/Garage25.css" rel="stylesheet" />
<div class="text-center">
    <div class="g25Heading">
        <h1 class="display-4">Welcome to Park-a-lot</h1>
        <img src="~/images/ParkingSign25.jpg" />
        <p>Verion 2.5, "The Return "<i class="fas fa-undo-alt"></i></p>

        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
</div>
