@{
    ViewData["Title"] = "Piracy Policy";
}
<h1><i class="fas fa-skull-crossbones"></i> @ViewData["Title"]</h1>

<p>
    <i class="fas fa-skull-crossbones"></i>
    This page details our site's piracy policy.<br />
    <picture>
        <img src="~/images/FBI_Warning.png" />
    </picture><br />

    FBI Anti-Piracy Warning: Unauthorized copying is punishable under federal law.<br />
    FBI Anti-Piracy Warning: The unauthorized reproduction or distribution of a copyrighted work is illegal. Criminal copyright infringement, including infringement without monetary gain, is investigated by the FBI and is punishable by up to five years in federal prison and a fine of $250,000.
</p>
